@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap');

.welcome {
    h1 {
        font-size: 56px;
        @media screen and (max-width:768px) {
            font-size: 48px;  
        }
    }
}
.vector {
    position: absolute;
    top: 80%;
    right: -0;
    overflow-x: hidden;
    @media screen and (max-width: 768px) {
        top: 90%;        
    }
}
#productInfo {
    background-color: #161617;
    color: white;
}
.m1chip {
    background: radial-gradient(circle at 50% 50%,rgba(68, 10, 10, 0.854), rgba(76, 0, 255, 0.077));
  opacity: 0.2;
}
.learn {
    color: rgb(202, 205, 209);
}
p {
    font-weight: 500;
}
.learnwhite {
    color: rgb(57, 57, 57);
}